# Rust's output directory
target

# Local settings
.soroban
.stellar

# Cargo lock file
**/Cargo.lock

# Contract test snapshots
**/contracts/no-loss-auction-system/test_snapshots

# Node.js dependencies
**/node_modules

# Build output
**/dist

**/frontend/.vite/
